.game {
    /* transition: background-image 1.0s ease; */
    /* background-image: url('assets/background.png'); */
    /* background-color: #FFF; */
    position: absolute;
    /* height: 78vh; */
    /* margin: 1vh 1vh 1vh 0; */
    background-color: #454360;
    /* align-content: center; */
    /* 10vh 10vh 10vh; */
    width: 60vh;
    height: 76vh;
    /* border: 1vh solid #EB6D4A; */
    /* margin-left: 15vh; */
}


div#hero {
    width: 50px;
    height: 50px;
    background-image: url('assets/hero.png');
    position: absolute;
    left: 350px;
    top: 500px; 
}

div#missiles {
    /* width: 1200px; */
    /* height: 800px; */
    /* position: absolute; */
}

div.missile1 {
    width: 10px;
    height: 28px;
    background-image: url('assets/missile1.png');
    position: absolute;
}

div#enemies {
    /* width: 1200px; */
    /* height: 800px; */
    /* position: absolute; */
}

div.enemy {
    width: 50px;
    height: 50px;
    background-image: url('assets/enemy.png');
    position: absolute;
}

div.enemy-toggle{
    display: none;
}

.text {
    top: 0;
    left: 0;
}

#modal {
    /* background-color:#383756;
    position: absolute; */
    /* margin-left: 23vh; */
    width: 54vh;
    margin-top: 20vh;
    height: 25vh;
    padding: 2vh;
    /* height: 76vh; */
    background-color: #EB6D4A;
    border: 1vh solid #FFF;
    /* border: 1px solid #FFF; */
}


.scoreboard {
    height: 78vh;
    /* background-color: #EB6D4A; */
    background-color: #383756;;
    /* border: 1vh solid #FFF; */
    /* width: 35vh; */

    width: -webkit-fill-available;
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    margin-left: 60vh;
}

.round, .score {
    font-size: 1.5em
}

.points {
    font-size: 2em
}

.sontact--buttons {
    /* height: 10vh; */
    display:flex;
    justify-content: center;
}

.srojects__button {
    color: #FFF;
    background-color: #EB6D4A;
    transition: border 0.2s ease-out;
    transition: padding 0.2s ease-out;
    padding: .5em;
    border-radius: 5px;
    border: none;
    font-size: .7em;
    width: 20vh;
    margin: 0 3vh 0 3vh;
    border: .5vh solid #FFF;
    cursor: pointer
}

.srojects__button:hover {
    font-size: .7em;
    padding: .8em;
    border: .5vh solid #FFF;
    cursor: pointer

}

.game--image {
    margin: 20vh 0 0 0;
    width: 20vh;
    /* height: 30vh; */
}

.ready {
    margin: 2vh 0 2vh 0;
}
