.game {
    /* transition: background-image 1.0s ease; */
    /* background-image: url('assets/background.png'); */
    background-color: #383756;
    position: absolute;
    height: 100vh;
    width: 100%;
}


div#hero {
    width: 50px;
    height: 50px;
    background-image: url('assets/hero.png');
    position: absolute;
    left: 575px;
    top: 700px; 
}

div#missiles {
    /* width: 1200px; */
    /* height: 800px; */
    position: absolute;
}

div.missile1 {
    width: 10px;
    height: 28px;
    background-image: url('assets/missile1.png');
    position: absolute;
}

div#enemies {
    /* width: 1200px; */
    /* height: 800px; */
    position: absolute;
}

div.enemy {
    width: 50px;
    height: 50px;
    background-image: url('assets/enemy.png');
    position: absolute;
}

.modal {
    top: 500;
    left: 300;
    height:10vh;
    width: 20vh;
    background-color: yellow;
    position: absolute;

}