.Main {
    margin: 10vh 10vh 10vh 0;
    width: 80%;
    text-align: center;
    background-color: #383756;
    color: white;
    font-size: 1.5em;
}

#main__img {
    margin: 10vh 0 3vh 0;
    width: 20%;
}

.main--links {
    margin: 1em auto 1em auto;
    display: flex;
    width: 20%;
    justify-content: space-around;
}

.main--content {
    margin: 0 1vh 1vh 0;
    /* padding: 20vh 0; */
    /* padding: 20% 0; */
    background-color: #454360;
    height: 68vh;
}

#main--rocket {
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    background-color: #454360;
    margin: 1vh 1vh 0 0;
}

#main--button {
    color: #FFF;
    background-color: #EB6D4A;
    padding: .5em;
    border-radius: 5px;
    border: none;
    font-size: 1em;
}

#main--button:hover {
    /* background-color: #CC4E2F; */
    font-size: 1.25em;
}

.main--link {
    justify-content: space-between;
}

h1,p {
    margin: 0;
}