.Main {
    margin: 10vh 10vh 10vh 0;
    width: 80%;
    text-align: center;
    background-color: #383756;
    color: white;
}

#main__img {
    margin: 17vh 0 3vh 0;
    width: 20%;
}

.main--links {
    margin: 1em auto 1em auto;
    display: flex;
    width: 20%;
    justify-content: space-around;
}

#main--content {
    margin: 1vh 1vh 1vh 0;
    /* padding: 20vh 0; */
    /* padding: 20% 0; */
    background-color: #454360;
}

#main--outline {
    height: 78vh;
}

.main--link {
    justify-content: space-between;
}

h1 {
    margin: 0;
}