.projects__button {
    color: #FFF;
    background-color: #EB6D4A;
    padding: .5em;
    border-radius: 5px;
    border: none;
    font-size: .7em;
    width: 80%;
    margin: 0 3vh 0 3vh;
    border: .5vh solid #383756
}

.projects__button:hover {
    font-size: .8em;
}

.projects__button--true {
    color: #383756;
    background-color: #FFF;
    padding: .5em;
    border-radius: 5px;
    border: none;
    font-size: .8em;
    margin: 0 1vh 0 1vh;
    border: .5vh solid #383756;
    width: 80%;

}

.projects--btns {
    width: -webkit-fill-available;
}